<nav class="top-navbar" [ngClass]="{ 'scrolled': isScrolled }">
  <div class="navbar-left">
    <!-- You can add a logo or a brand name here -->
  </div>
  <div class="navbar-search">
    <i class="bi bi-search search-icon"></i>
    <input type="text" placeholder="Search...">
  </div>
  <div class="navbar-right">
    <div class="user-info">
      <span class="user-greeting">Hi,</span>
      <span class="username">{{ username }}!</span>
    </div>
    <button class="btn btn-sm btn-switch-workspace" (click)="switchWorkspace()">Switch Workspace</button>

    <button class="btn btn-logout" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i>
      <span>Logout</span>
    </button>
  </div>
</nav>
