<div class="dashboard-container">

  <!-- Top Cards -->
  <div class="top-cards">
    <div class="card">
      <div class="icon"><i class="pi pi-volume-up"></i></div>
      <div class="details">
        <div class="value">{{ totalCampaigns }}</div>
        <div class="label">Total Campaigns</div>
      </div>
    </div>
    <div class="card">
      <div class="icon"><i class="pi pi-users"></i></div>
      <div class="details">
        <div class="value">{{ totalContacts }}</div>
        <div class="label">Total Contacts</div>
      </div>
    </div>
    <div class="card">
      <div class="icon"><i class="pi pi-file"></i></div>
      <div class="details">
        <div class="value">{{ totalTemplates }}</div>
        <div class="label">Total Templates</div>
      </div>
    </div>
    <div class="card">
      <div class="icon"><i class="pi pi-send"></i></div>
      <div class="details">
        <div class="value">{{ totalSentMessages }}</div>
        <div class="label">Total Sent Messages</div>
      </div>
    </div>
  </div>

  <!-- Date Range Picker -->
  <div class="date-picker-section">
    <p-calendar [(ngModel)]="dateRange" selectionMode="range" dateFormat="yy-mm-dd" (onSelect)="onDateRangeChange()" placeholder="Select Date Range"></p-calendar>
    <button pButton type="button" label="Refresh Data" (click)="loadData()" class="p-button-secondary"></button>
  </div>

  <!-- Charts Section -->
  <div class="charts-section">
    <div class="chart-container">
      <h3>Campaigns Sent Over Time</h3>
      <canvas baseChart
              [data]="lineChartData"
              [options]="lineChartOptions"
              [type]="lineChartType"
              style="height: 400px; width:400px;"></canvas>
    </div>
    <div class="chart-container">
      <h3>Templates Created by Type</h3>
      <canvas baseChart
              [data]="doughnutChartData"
              [options]="doughnutChartOptions"
              [type]="doughnutChartType"
              style="height: 300px;"></canvas>
    </div>
    <div class="chart-container">
      <h3>Campaign Status</h3>
      <canvas baseChart
              [data]="pieChartData"
              [options]="pieChartOptions"
              [type]="pieChartType"
              style="height: 300px;"></canvas>
    </div>
  </div>

  <!-- Tables Section -->
  <div class="tables-section">
    <div class="table-container">
      <h3>Latest Launched Campaigns</h3>
      <p-table [value]="latestCampaigns" class="p-datatable-sm">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Launched At</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-campaign>
          <tr>
            <td>{{ campaign.name }}</td>
            <td>{{ campaign.status }}</td>
            <td>{{ campaign.launchedAt | date:'short' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="table-container">
      <h3>Most Used Tags</h3>
      <p-table [value]="mostUsedTags" class="p-datatable-sm">
        <ng-template pTemplate="header">
          <tr>
            <th>Tag</th>
            <th>Count</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tag>
          <tr>
            <td>{{ tag.tag }}</td>
            <td>{{ tag.count }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
